@media (min-width: 992px) and (max-width: 1200px){

  .icon-cart {
    left: 48.89rem;
}

li.product-item.a.it1 {
  left: 11.1rem;
}

li.product-item.a.it9 {
  left: 23.99rem;
}

li.product-item.a.it10 {
  margin-left: 62.4rem;
}

li.product-item.a.it11 {
  left: 44.7rem;
}

li.product-item.a.it12 {
  left: 55.7rem;
}

li.product-item.a.it13 {
  left: 8.4rem;
}

li.product-item.a.it14 {
  left: 19.5rem;
}

li.product-item.a.it15 {
  left: 30.5rem;
}

li.product-item.a.it16 {
  left: 41.6rem;
}


li.product-item.a.it20 {
  left: 56.4rem;
}

li.product-item.a.it19 {
  left: 45.5rem;
}

li.product-item.a.it18 {
  left: 34.6rem;
}

li.product-item.a.it17 {
  left: 23.8rem;
}

li.product-item.a.it24 {
  left: 41.6rem;
}

li.product-item.a.it23 {
  left: 30.7rem;
}

li.product-item.a.it22 {
  left: 19.7rem;
}

li.product-item.a.it21 {
  left: 8.9rem;
}

hr.skullcenter {
  margin-right: -43.8rem;
}

li.product-item.a.it28 {
  left: 56.3rem;
}

li.product-item.a.it27 {
  left: 45.4rem;
}

li.product-item.a.it26 {
  left: 34.4rem;
}

li.product-item.a.it25 {
  left: 23.6rem;
}

li.product-item.a.it32 {
  left: 41.5rem;
}

li.product-item.a.it31 {
  left: 30.6rem;
}

li.product-item.a.it30 {
  left: 19.5rem;
}

li.product-item.a.it29 {
  left: 8.6rem;
}

.back-to-top {
  right: 3rem;
}

.backgroundFinal {
  width: 316.89%;
}
}



@media (min-width: 768px) and (max-width: 992px){
/* menu  */
header ul.navbar-nav.flex-grow-1 {
  white-space: nowrap;
}

hr.skullcenter {
  margin-right: -43.8rem;
}

.back-to-top {
  right: 6rem;
}


li.product-item.a.it1 {
  left: 10.99rem;
}

  li.product-item.a.it9 {
    left: 21.1rem;
}

li.product-item.a.it10 {
  margin-left: 58.7rem;
}

li.product-item.a.it11 {
  left: 40.2rem;
}

li.product-item.a.it12 {
  top: -170.7rem;
  left: 49.7rem;
}

li.product-item.a.it13 {
  left: 1rem;
}

li.product-item.a.it14 {
  left: 30.6rem;
  top: -163.5rem;
}

li.product-item.a.it15 {
  top: -163.5rem;
  left: 40.1rem;
}

li.product-item.a.it16 {
  top: -163.5rem;
  left: 49.7rem;
}

li.product-item.a.it17 {
  left: 21rem;
}

li.product-item.a.it18 {
  left: 30.53rem;
}


li.product-item.a.it19 {
    left: 40.1rem;
}


li.product-item.a.it20 {
  top: -120.3rem;
  left: 49.7rem;
}

li.product-item.a.it21 {
  left: 0.99rem;
}

li.product-item.a.it22 {
  left: 30.5rem;
  top: -113.2rem;
}

li.product-item.a.it23 {
  left: 40.1rem;
  top: -113.2rem;
}

li.product-item.a.it24 {
  top: -113.2rem;
  left: 49.7rem;
}

li.product-item.a.it25 {
  left: 21rem;
}

li.product-item.a.it26 {
  left: 30.5rem;
}

li.product-item.a.it27 {
  left: 40.1rem;
}

li.product-item.a.it28 {
  top: -70.1rem;
  left: 49.7rem;
}

li.product-item.a.it29 {
  left: 0.99rem;
}

li.product-item.a.it30 {
  left: 30.5rem;
  top: -63rem;
}

li.product-item.a.it31 {
  left: 40.1rem;
  top: -63rem;
}

li.product-item.a.it32 {
  top: -63rem;
  left: 49.7rem;
}


.backgroundFinal {
  width: 314.89%;
  top: 0.1rem;
}

}


@media (min-width: 576px) and (max-width: 768px){
  ul.navbar-nav.flex-grow-1 {
    white-space: nowrap;
}

li.product-item.a.it1 {
  left: 14.2rem;
}

li.product-item.a.it2 {
  left: 35.4rem;
}

li.product-item.a.it3 {
  left: 49.8rem;
}

li.product-item.a.it4 {
  left: 64.6rem;
}

li.product-item.a.it5 {
  margin-left: 48.6rem;
}

li.product-item.a.it6 {
  margin-left: 63.3rem;
}

li.product-item.a.it7 {
  margin-left: 77.8rem;
}

li.product-item.a.it8 {
  margin-left: 92.5rem;
}

li.product-item.a.it14 {
  position: relative;
  top: -163.5rem;
  left: 33.4rem;
}

li.product-item.a.it15 {
  position: relative;
  top: -163.5rem;
  left: 42.99rem;
}

li.product-item.a.it16 {
  position: relative;
  top: -163.5rem;
  left: 52.7rem;
}

li.product-item.a.it22 {
  position: relative;
  top: -113.3rem;
  left: 33.3rem;
}

li.product-item.a.it23 {
  position: relative;
  left: 42.9rem;
  top: -113.3rem;
}

li.product-item.a.it24 {
  position: relative;
  top: -113.3rem;
  left: 52.5rem;
}

li.product-item.a.it30 {
  position: relative;
  top: -63rem;
  left: 33.2rem;
}

li.product-item.a.it31 {
  position: relative;
  top: -63rem;
  left: 42.8rem;
}

li.product-item.a.it32 {
  position: relative;
  left: 52.4rem;
  top: -63rem;
}

hr.skullcenter.li {
  width: 58.5rem;
  left: -9.8rem;
}

img.skullLin {
  left: 37.6rem;
}

hr.skullcenter {
  margin-right: -46.8rem;
  margin-left: 18.4rem;
}

.skullLi {
  left: 43.99rem;
}

.skulln {
  left: 43.9rem;
}

img.skullLa {
  left: 43.7rem;
}

.skulli {
  left: 44.7rem;
}

.back-to-top {
  right: 3rem;
}

.backgroundFinal {
  width: 305.89%;
}
}