@{
  ViewData["Title"] = "Artigos";
}
@using Microsoft.AspNetCore.Http;

<link rel="stylesheet" href="/assets/fonts/style.css">
<link rel="stylesheet" href="/CSS/home.CSS">
<link rel="stylesheet" href="/CSS/accessories.CSS">
<link rel="stylesheet" href="/CSS/stories.CSS">
<link rel="stylesheet" href="/CSS/articles.CSS">

@* logo ------------- *@
<nav class="logo-cart">
  @* logo ------------- *@
  <div>
    <a href="/Home/home">
      <img class="logo" src="/CSS/img/logo.jpeg" />
    </a>
  </div>

  @* carrinho ------- *@
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark " href="~/itemOrder/List">
          <img class="icon-cart" src="~/CSS/img/cart.png" />
        </a>
      </li>
    </ul>
  </div>
</nav>

@* menu ---------- *@
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">

          <li class="nav-item">
            <a class="nav-link text-dark" href="home/#about"><strong> Sobre
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="stories"><strong> Historias
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/itemOrder/Insert/#books3"><strong> Livros
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="itemOrder" asp-action="Insert"><strong> Acessorios
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="articles"><strong> Artigos
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="gallery"><strong> Galeria de foto
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="galleryVideo"><strong> Galeria de video
              </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="home/#contactNow"><strong>Contato</strong></a>
          </li>

          @if (Context.Session.GetInt32("IdUsuario") == null)
          {
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Insert"><strong>
                  Cadastrar usuario</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Login"><strong>
                  Login</strong></a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="List"><strong> Usuarios
                  cadastrados</strong></a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="UserClient" asp-action="Logout"><strong>
                  Logout</strong></a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="content">

  <div class="content-box">

    <div class="inside">

      <ul class="img-list">
        <li>
          <img alt="" src="~/CSS/img/art1.jpg" />
          <h1>Article 1</h1>
          <p class="p1"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam ducimus autem quisquam!
            Temporibus pariatur facere ullam, accusamus voluptates aliquam, inventore, cumque unde repudiandae eius
            beatae est officia ducimus nihil atque?...</p>
          <a href="article/#ar1" class="link2">Ver mais >></a>
        </li>
        <li>
          <img alt="" src="~/CSS/img/art2.jpg" />
          <h1>Article 2</h1>
          <p class="p1">Atualmente, o Halloween é uma comemoração secular, embora alguns grupos religiosos dos Estados
            Unidos ainda não gostem do Halloween. A festa resgatou elementos oriundos da festa pagã e os modernizou,
            sendo que um desses elementos é o “trick or treat”, conhecido aqui como “doces ou travessuras”...</p>
          <a href="article/#ar2" class="link2">Ver mais >></a>
        </li>
        <li>
          <img alt="" src="~/CSS/img/art3.jpg" />
          <h1>Article 3</h1>
          <p class="p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam ducimus autem quisquam!
            Temporibus pariatur facere ullam, accusamus voluptates aliquam, inventore, cumque unde repudiandae eius
            beatae est officia ducimus nihil atque?...</p>
          <a href="article/#ar3" class="link2">Ver mais >></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<img class="imgGhost" src="~/CSS/img/backgroundInput.jpg" alt="">

<!--footer-->
<footer class="section">
  <div class="cont grid">
    <div class="brand">
      <a class="nav-link logo logo-alt" href="#">Fantasthello.com</a>
      <p class="subtitle">©2021 Fantasthello.</p>
      <p class="subtitle">Todos os direitos reservados.</p>
    </div>
    <div class="social grid">
      <a class="nav-link" href="https://instagram.com" target="_blank">
        <i class="icon-instagram"></i>
      </a>
      <a class="nav-link" href="https://facebook.com" target="_blank">
        <i class="icon-facebook"></i></a>
      <a class="nav-link" href="https://youtube.com" target="_blank"><i class="icon-youtube"></i></a>
    </div>
  </div>
</footer>

<img class="backgroundFinal" src="~/CSS/img/backgroundFinal.jpeg" />