@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/CSS/index.CSS">


<div class="wrapper">
    <div class="parent" onclick="">
        <div class="child bg-one">
            <a href="/Home/home">Fantasthello</a>
        </div>
    </div>